body {
    background-color: aliceblue;
    box-sizing: border-box;
    text-align: center;
}
.table-responsive table {
    table-layout: auto;
    width: 500px;
    border: 5px solid orange;


}
.table-responsive th,
.table-responsive td {
    border:5px solid black;
    text-align: center;
    margin:auto;
}
img {
    width: 500px;
    float:inherit;
    padding: 30px;
}
#kys img{
    width:500px;
    height: 500px;
}

.table1 {
    position:relative;
    margin:auto;
}
div + p {
    float:left;
    padding:15px;
}
h2 {
    clear:both;
    text-align: center;
}
.card {
    text-align: center;
}
.card img {
    display:block;
    margin:auto;
    width:50%;
}

